{{ 'section-kz-logolist.css' | asset_url | stylesheet_tag }}
<div class="logo-list background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width">
    <div class="">
      <h2 class="center">
        {{ section.settings.title | escape }}
      </h2>
    </div>
    <div class="logo-list-items">
    {%- for block in section.blocks -%}
        {%- if block.settings.image != blank -%}
          <div class="one-item">
            <img
              srcset="{%- if block.settings.image.width >= 60 -%}{{ block.settings.image | img_url: '60x' }} 60w,{%- endif -%}
                {%- if block.settings.image.width >= 100 -%}{{ block.settings.image | img_url: '100x' }} 100w,{%- endif -%}
                {%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
              src="{{ block.settings.image | img_url: '60x' }}"
              sizes="(min-width: 990px) 275px, (min-width: 750px) 100px, 60px"
              alt="{{ block.settings.image.alt }}"
              height="{{ block.settings.image.height }}"
              width="{{ block.settings.image.width }}"
              loading="lazy"
            >
          </div>
        {%- endif -%}
    {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "KZ Logo List",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Header",
      "label": "Header"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.multicolumn.settings.background_style.options__3.label"
        }
      ],
      "default": "none",
      "label": "t:sections.multicolumn.settings.background_style.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "KZ Logo List",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
