{{ 'section-kz-multicolumn.css' | asset_url | stylesheet_tag }}

<div class="kz-multicolumn background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}{% if section.settings.condense_mobile %} condense-mobile{% endif %}{% if section.settings.customization-class %} {{ section.settings.customization-class }}{% endif %}">
  <div class="page-width">
    <div class="">
      <h2 class="title center">
        {{ section.settings.title | escape }}
      </h2>
    </div>
    
      <div class="kz-multicolumn-list grid grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--4-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- liquid
          assign highest_ratio_bot = 0
          for block in section.blocks
            if block.settings.image_bot.aspect_ratio > highest_ratio_bot
              assign highest_ratio_bot = block.settings.image_bot.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <div class="kz-multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}" {{ block.shopify_attributes }} role="listitem">
            <div class="kz-multicolumn-card">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="kz-multicolumn-card__image-wrapper kz-multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} kz-multicolumn-card-spacing{% endif %} kz-multicolumn-card__image-wrapper--topimage-{{ section.settings.image_ratio }}">
                  <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}>
                    <img
                      srcset="{%- if block.settings.image.width >= 100 -%}{{ block.settings.image | img_url: '100x' }} 100w,{%- endif -%}
                      {%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                        {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                        {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | img_url: '100x' }}"
                      sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        100px"
                      alt="{{ block.settings.image.alt }}"
                      height="{{ block.settings.image.height }}"
                      width="{{ block.settings.image.width }}"
                      loading="lazy"
                    >
                  </div>
                </div>
              {%- endif -%}
              <div class="kz-multicolumn-card__info">
                {%- if block.settings.title != blank -%}
                  <h3>{{ block.settings.title | escape }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte main-text">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.custom_liquid != blank -%}
                  <div class="rte custom-liquid">{{ block.settings.custom_liquid }}</div>
                {%- endif -%}
                {%- if block.settings.aside != blank -%}
                  <div class="rte text-aside">{{ block.settings.aside | escape }}</div>
                {%- endif -%}
                {%- if block.settings.rating != blank -%}
                  <div class="rating-stars">
                    {% for num in (1..block.settings.rating) %}
                    <i>{% include 'icon-star' %}</i>
                    {% endfor %}
                  </div>
                {%- endif -%}

                {%- if block.settings.col_button_label != blank -%}
                  <a class="button button--primary"{% if block.settings.col_button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ block.settings.col_button_link }}"{% endif %}>
                    {{ block.settings.col_button_label | escape }}
                  </a>
                {%- endif-%}
              </div>
              {%- if block.settings.image_bot != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="kz-multicolumn-card__image-wrapper kz-multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} kz-multicolumn-card-spacing{% endif %} kz-multicolumn-card__image-wrapper--botimage">
                  <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio_bot | times: 100 }}%;"
                    {% endif %}>
                    <img
                      srcset="{%- if block.settings.image_bot.width >= 100 -%}{{ block.settings.image_bot | img_url: '100x' }} 100w,{%- endif -%}
                      {%- if block.settings.image_bot.width >= 275 -%}{{ block.settings.image_bot | img_url: '275x' }} 275w,{%- endif -%}
                        {%- if block.settings.image_bot.width >= 550 -%}{{ block.settings.image_bot | img_url: '550x' }} 550w,{%- endif -%}
                        {%- if block.settings.image_bot.width >= 710 -%}{{ block.settings.image_bot | img_url: '710x' }} 710w,{%- endif -%}
                        {%- if block.settings.image_bot.width >= 1420 -%}{{ block.settings.image_bot | img_url: '1420x' }} 1420w,{%- endif -%}
                        {{ block.settings.image_bot | img_url: 'master' }} {{ block.settings.image_bot.width }}w"
                      src="{{ block.settings.image_bot | img_url: '100x' }}"
                      sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        100px"
                      alt="{{ block.settings.image_bot.alt }}"
                      height="{{ block.settings.image_bot.height }}"
                      width="{{ block.settings.image_bot.width }}"
                      loading="lazy"
                    >
                  </div>
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    <div class="center">
      {%- if section.settings.button_label != blank -%}
        <a class="button button--primary"{% if section.settings.button_link == blank %} aria-disabled="true" role="link"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif-%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "KZ Columns",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Header",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "Image Width"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.multicolumn.settings.background_style.options__3.label"
        },
        {
          "value": "accent",
          "label": "Accent Color"
        }
      ],
      "default": "none",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "condense_mobile",
      "default": true,
      "label": "Condense Column Mobile"
    },
    {
      "type": "text",
      "id": "customization-class",
      "label": "Customization Class"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Top Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "trunc_text",
          "label": "Truncate Text",
          "default": true
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom HTML or Liquid",
          "info": "HTML or Liquid code accepted."
        },
        {
          "type": "text",
          "id": "aside",
          "label": "Aside Text"
        },
        {
          "type": "number",
          "id": "rating",
          "label": "Rating (1-5)"
        },
        {
          "type": "text",
          "id": "col_button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "col_button_link",
          "label": "Button Link"
        },
        {
          "type": "image_picker",
          "id": "image_bot",
          "label": "Bottom Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "KZ Columns",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
