<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

<script>
for (const parent of document.querySelectorAll('.shogun-accordion')) {
  parent.addEventListener('click', function(clickEvent) {
    const child = parent.querySelector('.shogun-accordion-body');
    // If the element is visible, hide it
    if (window.getComputedStyle(child).display === 'block') {
      child.style.display = 'none';
      return;
    }
    // Otherwise, show it
    child.style.display = 'block';
  })
}
</script>
<script>
/* 
for (const parent of document.querySelectorAll('.one-faq')) {
  parent.addEventListener('click', function(clickEvent) {
    const child = parent.querySelector('.faq-desc');
    // If the element is visible, hide it
    if (window.getComputedStyle(child).display === 'block') {
      child.style.display = 'none';
      return;
    }
    // Otherwise, show it
    child.style.display = 'block';
  })
}

Reviewed on http://codereview.stackexchange.com/questions/83940/minimalist-accordion-implementation-using-vanilla-javascript 

http://sonnyt.com/javascript-check-if-element-has-class/

*/

var el = document.getElementsByClassName("one-faq");
var hook = el.getElementsByClassName("faq-desc");
var rotated;

for (var i = 0; i < hook.length; i++) {
  hook[i].addEventListener("click",Toogle);
}

function Toogle() {
    'use strict';
  if (this.nextElementSibling.nodeType === 1 && hasClass(this.nextElementSibling,"hide")) { 
    if (this.nextElementSibling.classList) {
      this.nextElementSibling.classList.remove('hide');
    } else {
      this.nextElementSibling.className = this.nextElementSibling.className.replace(new RegExp('(^|\\b)' + "hide" + '(\\b|$)', 'gi'), ' ');
    }
    rotated = false;
  }
  else {    
    this.nextElementSibling.className += " " + "hide";
    rotated = true;
  }
  
  var deg = rotated ? 0 : 180;
    
  this.style.transform = 'rotate('+deg+'deg)';     
}

function hasClass (el, className){
  return el.className && new RegExp("(^|\\s)" + className + "(\\s|$)").test(el.className);
}
</script>
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
