<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

<script>
for (const parent of document.querySelectorAll('.shogun-accordion')) {
  console.log(parent);
  parent.addEventListener('click', function(clickEvent) {
    console.log(parent);
    const child = parent.querySelector('.shogun-accordion-body');
    console.log(child);
    // If the element is visible, hide it
    if (window.getComputedStyle(child).display === 'block') {
      child.style.display = 'none';
      return;
    }
    // Otherwise, show it
    child.style.display = 'block';
  })
}
</script>
<script>

/*
document.addEventListener('DOMContentLoaded', function(event) {
  var el = document.querySelector('.one-faq');

  el.onclick = function() {
    console.log('hello');
    el.classList.toggle('open');
    console.log('hello');
  }
});
for (const parent of document.querySelectorAll('.one-faq')) {
  parent.addEventListener('click', function(clickEvent) {
    //console.log('click');
    console.log(parent);
    const child = parent.querySelector('.faq-desc');
    // If the element is visible, hide it
    console.log(child);
    if (window.getComputedStyle(child).display === 'block') {
      child.style.display = 'none';
      console.log('hide it');
      return;
    }
    // Otherwise, show it
    child.style.display = 'block';
    console.log('show it');
  })
}*/
</script>
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
